@font-face {
  font-family: "Carattere";
  src: url("../../assets/fonts/Carattere-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/fonts/Comfortaa-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/fonts/Comfortaa-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/fonts/Comfortaa-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/fonts/Comfortaa-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/fonts/Comfortaa-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_18pt-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter18pt-ExtraLight.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter18pt-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_18pt-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_18pt-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter24pt-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_24pt-ExtraLight.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_24pt-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter24pt-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter24pt-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter28pt-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_28pt-ExtraLight.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter28pt-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter28pt-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter28pt-Medium.woff") format("woff");
  font-weight: 500;
}
