$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$primary-background-color:#F9F7F3; 
$cycle-color: #A65852;
$mental-health-color: #91A2AC; 
$physical-color:#887191;
$selected-color: #B56E52;
$secondary-selected-color: #B38F8F; 
$primary-border: #f8f6f0;
$hover-color: #DFb389;
$secondary-text: #FFF; 