@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.symptom-button {
  font-family: "Inter";
  margin: 2px;
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid $primary-border-color;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 10px;
  &:hover {
    background-color: $hover-color;
  }

  &--selected {
    background-color:$selected-color;
    color:$secondary-text;
    &:hover {
      background-color:$hover-color;
    }
  }
}