.symptom-button {
  margin: 2px; 
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-size: 10px; 
  
    &.selected {
      background-color:red; 
      color: #E3E0DB; 
    }
  
    &:hover {
      background-color: #c57b6a; 
    }
  
    &.selected:hover {
      background-color: #b56e52; 
    }
  }