@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.bx {
  font-size: 1.5rem;
  cursor: pointer;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  &__container {
    width: 100%;
    padding: 0 16px;
    max-width: 400px;
    @include tablet {
      padding: 50px;
      width: 50%;
    }
  }
  
  &__wrapper {
    display: flex;
    gap: 12px;
  }

  &__month,
  &__year {
    font-size: 20px;
  }

  &__navigate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 20px;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    cursor: pointer;
  }

  &__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 1rem 0;
    width: 100%;
  }

  &__dayname {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    gap: 1px;

    @include tablet {
      padding: 16px 0;
    }
  }

  &__number {
    background-color: #f6f3e9;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 1rem;

    &--selected {
      color: red;
    }

    &--today {
      font-weight: bold;
    }
  }

  &__indicators {
    display: flex;
    justify-content: center;
    gap: 2px;
  }

  &__indicator {
    width: 4px;
    height: 4px;
    border-radius: 50%;

    &--period {
      background-color: red;
    }

    &--physical {
      background-color: green;
    }

    &--mental {
      background-color: blue;
    }
  }
}

.form__message {
  margin-top: 1rem;

  @include tablet {
    display: flex;
    justify-content: flex-start;
  }
}
