@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.bx {
  font-size: 1.5rem;
  cursor: pointer;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  &__container {
    width: 100%;
    max-width: 400px;
    padding: 0 16px;

    @include tablet {
      margin: 36px;
      width: 50%;
      border: 1px solid $primary-border-color;
      border-radius: 10px;
    }
  }

  &__wrapper {
    display: flex;
    gap: 12px;
  }

  &__month,
  &__year {
    font-family: "Comfortaa";
    font-size: 20px;
  }

  &__navigate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 20px;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    cursor: pointer;
  }

  &__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 1rem 0;
    width: 100%;
  }

  &__dayname {
    font-family: "Inter";
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    gap: 1px;
    padding-bottom: 24px;

    @include tablet {
      padding: 16px 0;
    }
  }

  &__number {
    font-family: "Inter";
    background-color: $primary-border-color;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 1rem;

    &--selected {
      color: $selected-color;
      font-weight: 500;
    }

    &--today {
      font-weight: 700;
    }
  }

  &__indicators {
    display: flex;
    justify-content: center;
    gap: 2px;
  }

  &__indicator {
    width: 5px;
    aspect-ratio: 1;
    border-radius: 50%;

    @include tablet {
      width: 6px;
      aspect-ratio: 1;
    }

    &--period {
      background-color: $cycle-color;
    }

    &--physical {
      background-color: $physical-color;
    }

    &--mental {
      background-color: $mental-health-color;
    }
  }
}

.form__message {
  margin-top: 1rem;

  @include tablet {
    display: flex;
    justify-content: flex-start;
  }
}
