@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.form {
  padding: 1.5rem 1rem;
  border: 0.0625rem solid $primary-border-color;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../src/assets/images/form-pic.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    padding: 1.5rem;
    margin: 2.25rem 2.25rem 2.25rem 0;
    width: 55%;
    border-radius: 1.25rem;
  }
  @include desktop {
    margin: 3rem 2.25rem 2.25rem 0;
  }

  &__title {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.25rem;

    @include tablet {
      margin: 0;
      font-size: 1.375rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__tracker {
    display: flex;
    flex-direction: column;
  }

  &__question {
    font-family: "Inter";
    font-size: 1rem;
    margin: 1rem 0 0.5rem;

    @include desktop {
      font-size: 1.25rem;
      margin: 1rem 0 1rem;
    }
  }

  &__submit {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  &__actions {
    font-family: "Comfortaa";
    margin-top: 1rem;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.5rem;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 0.5rem;

    &:hover {
      background-color: $selected-color;
    }

    @include tablet {
      font-size: 0.875rem;
    }

    @include desktop {
      font-size: 0.9375rem;
    }
  }

  &__error{
    font-family:"Inter";
    font-size:0.75rem;
    margin-top: 0.5rem;
    color: $cycle-color;
  }

  &__alert{
    font-size:0.75rem;
    padding-right:0.25rem;
  }
}
