@use "../../styles/partials/mixins" as*; 
@use "../../styles/partials/variables" as *; 
@use "../../styles/partials/typography" as *; 

.intro {
  padding: 16px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../src/assets/images/abstract.png");
  min-height: 50vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex; 
  flex-direction:column; 
  justify-content:center; 

  @include tablet{
    min-height: 30vw; 
  }

  &__greeting{
    display:flex;
    align-items:flex-end; 
    gap: 8px; 
  }

  &__title{
    font-family:"PlayfairDisplay";
    font-weight:500; 
    font-size:28px; 
  }

  &__name{
    font-family:"PlayfairDisplay";
    font-style:italic;
    font-weight:500; 
    font-size:28px;
  }

  &__legend {
    margin: 0 16px;
  }

  &__subheader{
    font-family:"Inter";
    font-weight: 500;
    font-size:16px; 
    padding-bottom: 5px;
  }

  &__indicator {
    font-family:"Inter";
    font-size:14px; 

    &--period {
      &::marker {
        color: $cycle-color;
        font-size: 18px;
      }
    }
    &--physical {
      &::marker {
        color: $physical-color;
        font-size: 18px;
      }
    }
    &--mental {
      &::marker {
        color:$mental-health-color;
        font-size: 18px;
      }
    }
  }

  &__text {
    font-family:"Inter";
    font-size: 14px;
    padding: 16px 0;
  }
}
