@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.intro {
  padding: 16px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../src/assets/images/abstract.png");
  min-height: 50vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet {
    padding: 48px 36px;
    min-height: 30vw;
  }

  @include desktop{
    padding: 48px 80px 48px 48px; 
  }

  &__greeting {
    display: flex;
    align-items: flex-end;
    gap: 8px;
  }

  &__title {
    font-family: "PlayfairDisplay";
    font-weight: 500;
    font-size: 22px;

    @include tablet{
      font-size: 24px;
    }

    @include desktop{
      font-size:36px;
    }
  }

  &__name {
    font-family: "PlayfairDisplay";
    font-style: italic;
    font-weight: 500;
    font-size: 22px;

    @include tablet{
      font-size:24px;
    }
    
    @include desktop{
      font-size:36px;
    }
  }

  &__text {
    font-family: "Inter";
    font-size: 12px;
    padding: 16px 0;

    @include tablet{
      font-size: 15px;
    }
    @include desktop{
      font-size: 18px;
      padding: 16px 0 20px; 
    }
  }

  &__legend {
    margin: 0 16px;
  }

  &__subheader {
    font-family: "PlayfairDisplay";
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 5px;

    @include tablet{
      font-size: 18px;
    }
    
    @include desktop{
      font-size: 22px;
      padding-bottom: 12px; 
    }
  }

  &__indicator {
    font-family: "Inter";
    font-size: 12px;

    &--period {
      &::marker {
        color: $cycle-color;
        font-size: 18px;
      }
    }
    &--physical {
      &::marker {
        color: $physical-color;
        font-size: 18px;
      }
    }
    &--mental {
      &::marker {
        color: $mental-health-color;
        font-size: 18px;
      }
    }
    @include tablet{
      font-size: 15px;
    }
    @include desktop{
      font-size: 18px;
    }
  }


}
