@use "../../styles/partials/mixins" as*; 
@use "../../styles/partials/variables" as *; 

.intro {
  padding: 16px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../src/assets/images/abstract.png");
  min-height: 50vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex; 
  flex-direction:column; 
  justify-content:center; 

  @include tablet{
    min-height: 30vw; 
  }

  &__legend {
    margin: 0 16px;
  }

  &__subheader{
    font-size:12px;
  }

  &__indicator {
    font-size: 10px;

    &--period {
      &::marker {
        color: red;
        font-size: 14px;
      }
    }
    &--physical {
      &::marker {
        color: green;
        font-size: 14px;
      }
    }
    &--mental {
      &::marker {
        color: blue;
        font-size: 14px;
      }
    }
  }

  &__text {
    font-size: 10px;
    padding: 16px 0;
  }
}
