@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  padding: 0 1rem 1.5rem;

  @include tablet {
    padding: 3rem 1.5rem;
  }

  @include desktop {
    padding: 5rem 1.5rem 3rem;
  }

  &__logo {
    padding: 1rem 0;

    @include tablet {
      padding-top: 0;
    }
  }

  &__title {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  &__social {
    padding: 1rem 0;

    @include desktop {
      padding-top: 0;
    }
  }

  &__copyright {
    @include desktop {
      padding-top: 3rem;
    }
  }

  &__tablet-container {
    @include tablet {
      display: flex;
      justify-content: space-between;

      @include desktop {
        flex: 1;
      }
    }
  }

  &__desktop-container {
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__info {
    font-size: 10px;
    @include tablet {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 80%;
    }
  }

  &__links {
    padding: 16px 0;
    @include tablet {
      padding: 0;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__items {
    margin-bottom: 0.25rem;
    font-size: 12px;
    display: flex;
    gap: 4px;
    list-style: none;
  }

  &__item {
    font-weight: bold;
  }
}
