@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.resources {
  padding: 1rem;

  @include tablet {
    padding: 1.5rem 1rem 2.25rem;
  }

  @include desktop {
    padding: 2.25rem 3rem 3rem;
  }

  &__heading {
    font-family: "PlayfairDisplay";
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    @include desktop {
      font-size: 1.75rem;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1.25rem;

    @include desktop {
      margin-bottom: 2.25rem;
    }
  }

  &__button {
    flex: 1 0;
    font-family: "Inter";
    padding: 0.375rem 0.75rem;
    font-size: 0.75rem;
    border: 0.0625rem solid $secondary-text;
    border-radius: 1.25rem;
    cursor: pointer;
    &--active {
      background-color: $selected-color;
      color: $secondary-text;
    }
    &:hover {
      background-color: $hover-color;
    }
    @include tablet {
      flex: none;
      font-size: 0.875rem;
    }
  }

  &__articles {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.625rem;
    }
  }

  &__article {
    font-family: "Inter";
    font-weight: 400;

    gap: 0.25rem;
    border: 0.0625rem solid $secondary-border-color;
    padding: 0.9375rem;
    border-radius: 0.5rem;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include tablet {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 12.5rem;
    }
    &--bg1 {
      background-image: url("../../assets/images/article-1.png");
    }

    &--bg2 {
      background-image: url("../../assets/images/article-2.png");
    }

    &--bg3 {
      background-image: url("../../assets/images/article-3.png");
    }
  }

  &__title {
    font-family: "Inter";
    font-size: 0.75rem;
    font-weight: 500;
    @include tablet {
      font-size: 0.875rem;
      margin-bottom: 0.25rem;
    }
    @include desktop {
      font-size: 0.9375rem;
    }
  }

  &__category {
    font-size: 0.625rem;
    color: $subheader-color;
    margin-bottom: 0.3125rem;

    @include tablet {
      font-size: 0.75rem;
    }
    @include desktop {
      font-size: 0.8125rem;
    }
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__arrow {
    text-decoration: none;
    font-size: 0.625rem;
    transition: transform 0.3s ease;
    &:hover {
      transform: translateX(0.25rem);
    }
  }
}
