@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.resources {
  padding: 16px;

  @include tablet{
    padding: 24px 16px 36px;
  }

  @include desktop{
    padding: 36px 48px 48px;
  }

  &__heading {
    font-family: "PlayfairDisplay";
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    @include desktop{
      font-size:28px;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;

    @include desktop{
      margin-bottom: 36px;
    }
  }

  &__button {
    flex: 1 0;
    font-family: "Inter";
    padding: 6px 12px;
    font-size: 12px;
    border: 1px solid $secondary-text;
    border-radius: 20px;
    cursor: pointer;
    &--active {
      background-color: $selected-color;
      color: $secondary-text;
    }
    &:hover {
      background-color: $hover-color;
    }
    @include tablet{
      flex:none;
      font-size:14px;
    }
  }

  &__articles {
    display: flex;
    flex-direction: column;
    gap: 6px;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  }

  &__article {
    font-family: "Inter";
    font-weight: 400;

    gap: 4px;
    border: 1px solid $secondary-border-color;
    padding: 15px;
    border-radius: 8px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include tablet {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 200px;
    }
    &--bg1 {
      background-image: url("../../assets/images/article-1.png");
    }

    &--bg2 {
      background-image: url("../../assets/images/article-2.png");
    }

    &--bg3 {
      background-image: url("../../assets/images/article-3.png");
    }
  }

  &__title {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 500;
    @include tablet{
      font-size:14px;
      margin-bottom: 4px;
    }
    @include desktop{
      font-size:15px;
    }
  }

  &__category {
    font-size: 10px;
    color: $subheader-color;
    margin-bottom: 5px;

    @include tablet{
    font-size:12px;
  }
  @include desktop{
    font-size:13px;
  }
  }


  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__arrow {
    text-decoration: none;
    font-size: 10px;
    transition: transform 0.3s ease;
    &:hover {
      transform: translateX(4px);
    }
  }
}
