@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.about {
 
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../src/assets/images/form-pic.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    min-height:50vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding: 40px 0;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
  }

  &__nav-icon {
    font-size: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity:60%;

    &:hover {
      opacity: 100%;
    }

    @include desktop{
      font-size: 42px;
    }
  }

  &__title {
    font-family: "PlayfairDisplay";
    margin-bottom: 15px;

    @include desktop{
      font-size: 28px;
    }
  }

  &__description {
    font-family: "Inter";
    font-size: 13px;
    line-height: 1.6;

    @include tablet {
      font-size: 18px;
      padding: 0 64px;
    }
    @include desktop{
      font-size: 22px;
      padding: 0 140px;
    }
  }
}
